<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="Log.log">
            <PatternLayout pattern="Root: %d{HH:mm} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

<!--        <Console name="Root" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="Root: %d{HH:mm} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>9-->

<!--        <Console name="Utils" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="Utils: %d{HH:mm} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->

<!--        <Console name="File" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="File: %d{HH:mm} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="Print: %d{HH:mm} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>


    <Loggers>
<!--        <Logger name="root.utils.HospitalUtils" level="info" additivity="false">-->
<!--            <AppenderRef ref="Print"/>-->
<!--        </Logger>-->

        <Logger name="root.Main" level="all">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="root.utils.HospitalUtils" level="all">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="File"/>
<!--            <AppenderRef ref="Console"/>-->
        </Root>
    </Loggers>
</Configuration>